<!-- app/views/users/send_sms.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Pirate Daddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      color: #D9F7F2;
      text-align: center;
    }

    .container {
      position: relative;
      height: 100vh;
    }

    .background-image {
      background-image: url("https://img.freepik.com/free-vector/old-broken-pirate-ship-after-shipwreck-beach_107791-14739.jpg?w=740&t=st=1685997021~exp=1685997621~hmac=9b97de61356dd1c4824f6f3aaffdc85d7a3db00548af8fe4069db64cd8bc5cd4");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-size: 30px;
      text-shadow: 2px 2px 4px #000000;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px;
      border-radius: 5px;
    }

    h2 {
      font-size: 20px;
      text-shadow: 2px 2px 4px #000000;
      margin-bottom: 30px;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px;
      border-radius: 5px;
    }

    form {
      background-color: #394e64;
      padding: 20px;
      border-radius: 10px;
      max-width: 300px;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      width: 100%;
      box-sizing: border-box;
    }

    input[type="submit"] {
      padding: 10px 20px;
      font-size: 18px;
      background-color: #c1663e;
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    input[type="submit"]:hover {
      background-color: #d57d59;
    }

    .error-message {
      color: red;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="background-image">
      <h1>Ahoy Hoy!</h1>
      <h2>Text your mateys a random pirate insult by entering their phone number below</h2>
    </div>

    <%= form_tag(send_sms_path, method: :post) do %>
      <div>
        <%= label_tag 'Phone Number of the Scallywag you want to Insult:' %>
        <%= text_field_tag 'phone_number', '', placeholder: 'Phone Number', required: true %>
      </div>

      <% if flash[:notice] %>
  <div class="notice-message">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="error-message">
    <%= flash[:alert] %>
  </div>
<% end %>

      <%= submit_tag 'Text Insult', class: 'submit-button' %>
    <% end %>
  </div>
</body>
</html>